services:
  mongo:
    image: mongodb/mongodb-community-server:7.0-ubi8
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    command: ["mongod", "--bind_ip_all"]

volumes:
  mongo_data:
