services:
  api-server:
    build: ./api-server
    container_name: api-server
    restart: unless-stopped
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "172.31.0.202:9092"
      KAFKA_TOPIC: "purchases.v1"
      KAFKA_GROUP_ID: "purchase-consumer"
      MONGO_URI: "mongodb://172.31.2.197:27017"
      MONGO_DB: "purchases_db"
      MONGO_COLLECTION: "purchases"
    ports:
      - "8000:8000"

  web-server:
    build: ./web-server
    container_name: web-server
    restart: unless-stopped
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "172.31.0.202:9092"
      KAFKA_TOPIC: "purchases.v1"
      API_SERVER_URL: "http://172.31.2.3:8000"
    ports:
      - "9000:9000"
