services:
  api-server:
    build:
      context: ../../
      dockerfile: api-server/Dockerfile
    container_name: api-server
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "${KAFKA_BOOTSTRAP_SERVERS}"
      KAFKA_TOPIC: "${KAFKA_TOPIC}"
      KAFKA_GROUP_ID: "${KAFKA_GROUP_ID}"
      MONGO_URI: "${MONGO_URI}"
      MONGO_DB: "${MONGO_DB}"
      MONGO_COLLECTION: "${MONGO_COLLECTION}"

  web-server:
    build:
      context: ../../
      dockerfile: web-server/Dockerfile
    container_name: web-server
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "${KAFKA_BOOTSTRAP_SERVERS}"
      KAFKA_TOPIC: "${KAFKA_TOPIC}"
      API_SERVER_URL: "${API_SERVER_URL}"
