services:
  kafka:
    image: apache/kafka:4.1.1
    container_name: kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
    volumes:
      - ./config/server.properties:/opt/kafka/config/kraft/server.properties
      - ./data:/var/lib/kafka/data
    command:
      [
        "/opt/kafka/bin/kafka-server-start.sh",
        "/opt/kafka/config/kraft/server.properties",
      ]
